.cards {
  padding: 8rem;
  background: #fff;
}


.items-grid{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
}



