.footer-container{
  background-color: #000;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}


.footer-subscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}


.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
  color: #fcdb00;
}

.footer-subscription-text{
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-input{
  width: 250px;
  padding: 8px, 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff; 

}

.footer-links{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-link-items {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items p {
  margin-bottom: 16px;

}

.footer-link-items > p {
  color: #fff;
  
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  
}

.footer-email-form h2 {
  margin-bottom: 32px;
}

.social-icon-link {
  color: #fcdb00;
  font-size: 24px;
}

.social-media{
  display: flex;
  justify-content: center;
}


.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fcdb00;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-self: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .footer-links{
    padding-top: 2rem;
  }

  .footer-input{
    width: 100%;
  }

}