.header-container {
  background-color: #fcdb00;
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.text-content{
  padding-top: 55px;
  width: 50%;
  margin-left: 275px;
  margin-right: 45px;
}



